<div class="container">
  <div>
    <h1>Here is the info on your Booking</h1>

    <h4><%= @booking.doppelganger.name %></h4>
    <p>will show up at <%= @booking.address %></p>
    <p>start date: <%= @booking.start_date.strftime('%b %e, %l:%M %p') %></p>
    <p>end date: <%= @booking.end_date.strftime('%b %e, %l:%M %p') %></p>
    <p>status: <%= @booking.status %></p>
  </div>
</div>
