<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dytbz32gy/image/upload/v1668532874/Screen_Shot_2022-11-14_at_9.17.22_PM_anbb8y.png" %>
    <% end %>

    <div class="filters">
      <%= form_with url: root_path, method: :get, class: "d-flex" do |form| %>
        <%= form.select :location, ["montreal", "Ottawa", "Toronto"], include_blank: true %>
        <%= form.select :age, ["21-25", "25-29", "30-34", "35-39", "40-44", "45-49", "50-100"], include_blank: true %>
        <%= form.select :ethnicity, ["American Indigenous", "Black/African Descent", "East Asian", "Hispainic/Latino", "Middle Eastern", "Pacific Islander", "South ASian", "Southeast Asian", "White/Caucasian"], include_blank: true %>
        <%= form.select :height, ["< 5'", "5'1-5'3", "5'4-5'6", "5'7-6'0", "6'1-6'2", "6'3-6'5", "> 6'5"], include_blank: true %>
        <%= form.select :gender, [["Male", 1], ["Female", 2], ["Nonbinary", 3]], include_blank: true %>
        <%= form.submit "Filter" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item">
            <%# <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Homepage", "/", class: "dropdown-item" %>
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Add a new doppelganger", new_doppelganger_path, class: "dropdown-item"%>
              <%= link_to "My Roster", my_roster_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
