<div class="doppelganger-form">
  <%= simple_form_for @doppelganger do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :bio %>
    <%= f.input :address %>
    <%= f.input :rate %>
    <%= f.submit "Update Listing", class: "submit-doppelganger" %>
  <% end %>
</div>
