<div class="container">
<p> edit <%= @doppelganger.name %>, doppelganger id. <%= @doppelganger.id %></p>
  <%= simple_form_for @doppelganger do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :bio %>
    <%= f.input :address, label: "we are only servicing Ottawa, Montreal, Toronto." %>
    <%= f.input :rate %>
    <%= f.submit %>
  <% end %>
</div>
