<div class="container">
<p> Edit <%= @doppelganger.name %></p>
  <%= simple_form_for @doppelganger do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :bio %>
    <%= f.input :address, label: "We are only servicing Ottawa, Montreal, Toronto." %>
    <%= f.input :rate %>
    <br>
    <%= f.submit "Update your doppelganger", class: "button-53", style: "font-size: 13px; font-weight: 100;" %>
  <% end %>
</div>
