<div class="cards" id="doppelgangers_cards">
  <% @doppelgangers.each do |doppelganger| %>
      <div class="card-dg-index" data-location="<%= doppelganger.address.split.last %>">
        <%= link_to doppelganger_path(doppelganger) do %>
          <span class="doppelganger-show-link"></span>
        <% end %>
        <% if  doppelganger.photo.key !=nil %>
          <%= cl_image_tag doppelganger.photo.key, height: 200, width: 300, crop: :fill %>
        <% else %>
          <%= image_tag doppelganger.seed_photo %>
        <% end %>
        <div class="card-infos">
          <div class="card-name">
            <h2><%= doppelganger.name %></h2>
          </div>
          <div class="card-pricing">
            <h3><%= "#{doppelganger.rate}$ CAD/hour" %></h3>
          </div>
          <% if doppelganger.user == current_user %>
            <div class="my-doppelganger-icon">!</div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
