  <div class="container">
    <p>create a new doppelganger </p>
    <div class="form_doppelganger">
      <%= simple_form_for @doppelganger do |f| %>
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :location, collection: %w[Montreal Toronto Ottawa] %>
        <%= f.input :bio, length: { in: 10..280 } %>
        <%= f.input :rate %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

<%= link_to "< home", doppelgangers_path %>
