<div class="show-container">
  <div class="info-container">
    <div class="doppelganger-info">
      <h2><%= @doppelganger.name %></h2>
      <h4><%= @doppelganger.gender %></h4>
      <h4><%= "#{@doppelganger.age} years old" %></h4>
      <h4><%= @doppelganger.address %></h4>
    </div>
    <div class="doppelganger-bio">
      <p><%= @doppelganger.bio %></p>
    </div>
  </div>
  <div class="booking-form-container">
    <%= render "booking_form" %>
  </div>
</div>
