<div class="container">
  <div class="doppelganger_info">
    <h1><%= @doppelganger.name %></h1>
    <p><%= @doppelganger.age %> years old</p>
    <p> in <%= @doppelganger.location %></p>
    <p> $ <%= @doppelganger.rate %> /hour </p>
  </div>

  <div class="links">
    <%= link_to "< home", doppelgangers_path %>
    <%= link_to "edit", edit_doppelganger_path(@doppelganger) %>
    <%= link_to "delete", doppelganger_path(@doppelganger),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>

  <div class="booking_form">
    <%= simple_form_for [@doppelganger, @booking] do |f| %>
      <%= f.input :address %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
  </div>
  </div>
